@tailwind base;
@tailwind components;
@tailwind utilities;

.diagonal-pattern {
  background-color: #0B0B0B;
  background-image: repeating-linear-gradient(
    45deg,
    #151515,
    #151515 1px,
    transparent 1px,
    transparent 12px
  );
}
@layer utilities {
  .wati-reveal {
    @apply opacity-0 translate-y-10 transition-all duration-700 ease-out;
  }

  .wati-reveal.show {
    @apply opacity-100 translate-y-0;
  }
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
